#test {
	animation: fadein 1s;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 5s; /* Safari and Chrome */
	-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 3;
	}
}

.introduce {
	align-items: center;
	height: 500px;
	border: 1px solid green;
	display: flex;
	justify-content: space-evenly;
}
.content {
	border: 1px solid red;
}
